<div class="card my-5">
  <br>
  <h2 class="display-4">Friend With Earth</h2>
  <p>Friend With Earth is an initiative which has the mission to support all activities contributing to the
    sustainability of the environment. It is a place that provides analysis, suggestions and inspiration towards
    positive action to be taken to maintain our planet healthy.
  </p>
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-xs-6 mx-auto">
        <img src="../../assets/images/wind-farm.jpg" class="img-fluid" alt="Responsive image">
      </div>
    </div>
  </div>
  <br>
</div>
