<div class="my-5 ml-custom mr-custom">
  <h3>Friend With Earth</h3>
  <br>
  <p>Friend With Earth is an initiative which has the mission to support all activities contributing to the
    sustainability of the environment. It is a place that provides analysis, suggestions and inspiration towards
    positive action to be taken to maintain our planet healthy.
  </p>
  <br>

  <div id="demo" class="carousel slide" data-ride="carousel" style="max-width:700px; margin: 0 auto; max-height:600px !important;">

    <!-- Indicators -->
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
    </ul>

    <!-- The slideshow -->
    <div class="carousel-inner" role="listbox" style="max-width:900px; max-height:600px !important;">
      <div class="carousel-item active">
        <img src="../../assets/images/investments.png" class="d-block img-fluid">
      </div>
      <div class="carousel-item">
        <img src="../../assets/images/wind.jpg" class="d-block img-fluid">
      </div>
      <div class="carousel-item">
        <img src="../../assets/images/solar.jpg" class="d-block img-fluid">
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>

  </div>
<br>
  <br>
  <div class="container">
    <canvas id="ukLivePowerGenerationChart"></canvas>
  </div>
  <a matTooltip="Info about the action" href="https://www.elexon.co.uk/" class="right" target="_blank">ⓘ Source: Elexon</a>
  <br>
</div>

