<div class="container">
  <!--<p>Crowdfunding has two main advantages:-->
  <!--<ul>-->
  <!--<li>Supporting renewable energy project developers with access to financing</li>-->
  <!--<li>Making investments accessible to the part of the public who wish to support projects-->
    <!--with small investments</li>-->
  <!--</ul>-->
  <!--<P>Strong support for the renewable energy crowdfunding is shown by the-->
    <!--<a href="http://www.crowdfundres.eu/index.html@p=4.html" target="_blank">CROWDFUNDRES</a> project,-->
    <!--with funding from the European Union Horizon 2020 research and innovation programme.</P>-->
  <!--<br/>-->
  <!--<ul>-->
    <!--<li style="list-style-type:none">-->
          <!--<img src="../../assets/images/bettervest-logo.jpg" class="imgthumbnail" height="200" width="200" alt="Responsive image">-->
      <!--<a href="https://www.bettervest.com/" target="_blank">bettervest</a>-->
    <!--</li>-->
    <!--<li style="list-style-type:none">-->
      <!--<img src="../../assets/images/oneplanetcrowd-logo.png" class="imgthumbnail" height="200" width="200" alt="Responsive image">-->
      <!--<a href="https://www.oneplanetcrowd.com/" target="_blank">Oneplanetcrowd</a>-->
    <!--</li>-->
    <!--<li style="list-style-type:none">-->
      <!--<img src="../../assets/images/lendahand-logo.png" class="imgthumbnail" height="200" width="200" alt="Responsive image">-->
      <!--<a href="https://www.lendahand.com/" target="_blank">Lendahand</a>-->
    <!--</li>-->
    <!--<br>-->
    <!--<br>-->
    <!--<br>-->
    <!--<li style="list-style-type:none">-->
      <!--<img src="../../assets/images/trine-logo.png" class="imgthumbnail" height="80" width="200" alt="Responsive image">-->
      <!--<a href="https://trine.com/" target="_blank">&nbsp;Trine</a>-->
    <!--</li>-->
  <!--</ul>-->
</div>
