<div class="container">
  <p>An easily accessible additional source of finance</p>
    <br/>
  <ul>
    <li style="list-style-type:none">
          <img src="../../assets/images/bettervest-logo.jpg" class="imgthumbnail" height="200" width="200" alt="Responsive image">
      <a href="https://www.bettervest.com/" target="_blank">bettervest</a>
    </li>
    <li style="list-style-type:none">
      <img src="../../assets/images/oneplanetcrowd-logo.png" class="imgthumbnail" height="200" width="200" alt="Responsive image">
      <a href="https://www.oneplanetcrowd.com/" target="_blank">Oneplanetcrowd</a>
    </li>
    <li style="list-style-type:none">
      <img src="../../assets/images/lendahand-logo.png" class="imgthumbnail" height="200" width="200" alt="Responsive image">
      <a href="https://www.lendahand.com/" target="_blank">Lendahand</a>
    </li>
    <br>
    <br>
    <br>
    <li style="list-style-type:none">
      <img src="../../assets/images/trine-logo.png" class="imgthumbnail" height="80" width="200" alt="Responsive image">
      <a href="https://trine.com/" target="_blank">&nbsp;Trine</a>
    </li>
  </ul>
</div>
