#myId {
  background-color: #eaecef;
}

#stickyClass {
  position: sticky;
}

.myWhiteBackground{
  background:#ffffff;
}

.whiteFont{
  color: white;
}

.customHref{
  color: inherit;
}

.customHeightHeader{
  height: 28px;
}

.customHeightFooter{
  height: 28px;
}
