<div class="card my-5">
  <h3>The Ambition</h3>
  <p><i>"There is nothing in the laws of physics and chemistry to prevent humanity from stopping global heating getting out of control." - Mark Watts, Executive Director of C40 Cities
  </i></p>
  <p>Out of control climate change will cause the following:<br/>
  <ul>
    <li>Increased sea level and floodings severly affecting low-lying countries and coastal cities, causing relocation
      of people which will lead to conflicts
    </li>
    <li>Infrastructure damage and food shortages caused by violent weather</li>
    <li>Melting snow will alter pattern and timing of flows of rivers that serve people</li>
    <li>Desertification in locations such as Southern Europe, Northern Nigeria, Mexico, putting pressure on people to
      relocate
    </li>
  </ul>
</div>
